# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName learn-magento.yuanbowang.com
AuthUserFile /home/lm/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/lm/public_html/_vti_pvt/service.grp
